@model Employee.Models.EmpModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>@ViewBag.Title </h2>

<h3>Record Deleted Successfully!</h3>
<br />
<br />
@Html.ActionLink("View Employee List", "Index")